*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
body {
  height: 200vh;
}
.header {
  display: flex;
  background-color: hsl(206.6, 95.7%, 36.5%);
  flex-wrap: wrap;
}
.header-logo {
  margin-left: 12rem;

  margin-right: auto;
  padding: 1rem 0;
}
.nav {
  margin: auto;
}
.nav ul {
  display: flex;
  color: hsl(222.9, 100%, 98.6%);

  gap: 1rem;
  align-items: center;
}
.hero {
  display: flex;
  background-color: hsl(206.6, 95.7%, 36.5%);
  color: hsl(210, 20%, 98%);
  gap: 5rem;
  padding-top: 3rem;
}
.hero-content {
  row-gap: 1rem;
  margin-left: 12rem;
  flex-basis: 22rem;
  flex: auto;
}
.hero-title {
  margin-bottom: 0.5rem;
}
.hero img {
  height: 75%;
  width: 75%;
  border-radius: 3em;
  border: 5px solid #eee;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.hero-button {
  margin-left: 0.2rem;
  margin-top: 1rem;
}
button {
  background-color: hsl(215, 27.9%, 16.9%);
  color: hsl(210, 20%, 98%);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 1.5625rem;
}
.content {
  display: flex;
  flex-flow: column nowrap;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  align-items: center;
  margin: 2rem auto 4rem;
}
.cards {
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 14rem;
  align-self: center;
  margin-top: 2rem;
}
.card img {
  overflow: hidden;
  width: 72%;
  height: auto;
  /* vertical-align: middle; */
  border: 0.2rem solid hsl(217.3, 90.4%, 63.3%);
  border-radius: 15%;
  margin-bottom: 2rem;
}
.quotes {
  background-color: hsl(220, 13%, 91%);
  min-height: 15rem;
  min-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.quote {
  width: 28rem;
  margin-right: 2rem;
  color: hsl(214.7, 53.3%, 21%);
  font-size: large;
}
.quotes h3 {
  margin-top: 0.5rem;
  padding-left: 17rem;
  color: hsl(0, 1.6%, 48.6%);
}
.footer {
  background-color: hsl(206.6, 95.7%, 36.5%);
  height: 5rem;
}

.register {
  height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-color {
  background-color: hsl(215, 27.9%, 16.9%);
  display: flex;
  padding: 2rem 6rem;
  flex-direction: row;
  border-radius: 0.9375rem;
}
.register-color .description {
  width: 30rem;
  color: hsl(205.7, 2.8%, 51.6%);
}
.register .register-color h3 {
  color: hsl(210, 20%, 98%);
}
.register-color button {
  color: hsl(210, 20%, 98%);
  padding: 0.5rem 2rem;
  border: 2px solid hsl(0, 0%, 100%);
  flex: none;
  max-width: ;
}
.footer div {
  margin: auto;
  width: 50%;
  text-align: center;
  color: hsl(0, 0%, 100%);
  padding: 2rem;
}
